<!DOCTYPE html>
<html>
    <head>
        <title>Demonstration</title>
        <link rel="stylesheet" href="stylesheets/main.css"></link>
    </head>
    <body>
        todo list:
        <ul>
            <li>
                9. General term<br>
                10. Sequence game<br>
            </li>
            <li>Replace the 4 nbsps in eval with proper css</li>
        </ul>
        <div id="app">
            Current Tab: {{tabNames[tabId]}}<br>
            <button @click="prevTab">Previous Tab</button>
            <button @click="nextTab">Next Tab</button>
            <introduction-tab v-if="tabId === 0"></introduction-tab>
            <introduction-js-tab v-if="tabId === 1"></introduction-js-tab>
            <js-console-tab v-if="tabId === 2"></js-console-tab>
            <js-operators-tab v-if="tabId === 3"></js-operators-tab>
            <js-functions-tab v-if="tabId === 4"></js-functions-tab>
            <js-functions-2-tab v-if="tabId === 5"></js-functions-2-tab>
            <js-functions-exercise-tab v-if="tabId === 6"></js-functions-exercise-tab>
            <sequences-tab v-if="tabId === 7"></sequences-tab>
            <general-term-tab v-if="tabId === 8"></general-term-tab>
            <sequence-exercise-tab v-if="tabId === 9"></sequence-tab>
        </div>
    </body>
    <script src="javascripts/libraries/vue.js"></script>
    <script src="javascripts/components/CodeRunner.js"></script>
    <script src="javascripts/components/Pages.js"></script>
    <script src="javascripts/index.js"></script>
</html>