<!DOCTYPE html>
<html>
    <head>
        <title>Demonstration</title>
    </head>
    <body>
        todo list:
        <ul>
            <li>
                4. Operators<br>
                5. Functions<br>
                6. Functions 2<br>
                7. Arithmetic sequence<br>
                8. Geometric sequence<br>
                9. General term<br>
                10. Sequence game<br>
                11. Sum of AS<br>
                12. Sum of GS<br>
                13. Sequence game 2<br>
            </li>
            <li>idek</li>
            <li>Mention the operators somewhere</li>
            <li>Display suggested answer if learner wants to see</li>
            <li>Replace the 4 nbsps in eval with proper css</li>
        </ul>
        <div id="app">
            Current Tab: {{tabNames[tabId]}}<br>
            <button @click="prevTab">Previous Tab</button>
            <button @click="nextTab">Next Tab</button>
            <introduction-tab v-if="tabId === 0"></introduction-tab>
            <introduction-js-tab v-if="tabId === 1"></introduction-js-tab>
            <js-console-tab v-if="tabId === 2"></js-console-tab>
            <js-operators-tab v-if="tabId === 3"></js-operators-tab>
            <sequence-exercise-tab v-if="tabId === 100"></sequence-tab>
        </div>
    </body>
    <script src="javascripts/libraries/vue.js"></script>
    <script src="javascripts/components/CodeRunner.js"></script>
    <script src="javascripts/components/Pages.js"></script>
    <script src="javascripts/index.js"></script>
</html>